html {
  font-family: verdana;
  font-size: 16px;
  text-align: left;
  color: gray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div {
  display: block;
  box-sizing: border-box;
}
header {
  display: block;
  height: 4rem;
  position: fixed;
  top: 0;
  padding: 0 2.4rem;
  background-color: white;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  color: black;
  border-bottom: 1px solid white;
  z-index: 10;
}
.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .desktop, .mobile {
    height: 64px;
}
.logo {
  display: flex;
  align-items: center;
  color: black;
}
.logo img {
  margin-left: 1.5rem;
  height: 3rem;
}
.logo h6 {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.logo span {
  color: black;
  font-size: 1rem;
  font-weight: lighter;
}
nav {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}
header ul {
  padding-left: 20px;
  text-decoration: none;
  display: block;
  list-style: none;
}
header ul li {
  display: inline-block;
  padding: 16px;
}
main {
  position: relative;
  top: 4rem;
}
section {
  display: block;
}
.container {
  top: 2rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: lightgray;
}
#banner {
  background-color: lightgray;
  padding-top: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.banner-text {
  width: 30%;
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  flex-flow: column;
  vertical-align: middle;
}
h1 {
  font-size: 1.8rem;
  margin: 0;
}
h1, h5 {
  display: block;
}

.button {
  background-color: #4a4a4a;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  color: white;
}
p {
  display: block;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 32px, 0;
}
h3 {
  margin-bottom: 24px;
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  margin-bottom: 8px;
  font-size: 1rem;
}
img {
  display: inline-block;
}
#info {
  align-items: flex-start;
  background-color: white;
}
#info .primary {
  border-right: 1px solid #E0E2E2;
}
.primary {
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}
.primary img, video {
  width: 100%;
}
.secondary {
  width: 40%;
  padding: 1rem;
}
.secondary .container {
  background-color: white;
  max-width: 423px;
}
.secondary .container img {
  width: 35%;
  padding: 1rem;
}
#courses {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: lightgray;
}
.course-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.course-info {
  width: 30%;
  margin: 0 8px 16px 8px;
  background-color: pink;
}
.course-info img {
  width: 100%;
}
.course-copy {
  padding: 16px 0 0 16px
}
.course-copy p {
  font-size: .9rem;
}
#thesis {
  background-color: white;
  width: 100%;
  align-items: flex-start;
}

#thesis .primary {
  padding: 16px 16px 24px 24px;
}
.video-info {
  width: 60%;
}
video {
  margin-bottom: 32px;
}
#thesis h2 {
  text-align: center;
}

.container .secondary-copy {
  width: 56%;
}
.secondary-copy {
  display: inline-flex;
  flex-flow: column;
  vertical-align: middle;
}
#thesis .secondary .container {
  align-items: center;
}
#thesis .highlight {
  margin-top: 1rem;
}
.highlight {
  background-color: darkpink;
}
.secondary .container img {
  width: 35%;
  padding: 1rem;
}
footer {
  width: 100%;
  height: 4rem;
  display: flex;
justify-content: space-between;
padding-top: 1rem;
background-color: white;
color: black;
}
footer .container {
  justify-content: space-between;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
footer span{
  margin-left: 1.4rem;
}
footer a {
  padding-right: 1rem;
}
a {
  text-decoration: none;
}
.mobile {
  display: none;
}

@media only screen and (max-width: 635px) {
  .desktop {
    display: none;
  }
@media only screen and (max-width: 635px) {
.mobile {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 635px) {
.mobile nav {
  width: 100%;
}
@media only screen and (max-width: 635px) {
.mobile ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 635px) {
.mobile img {
  margin-bottom: -3px;
}
@media only screen and (max-width: 635px) {
  #banner {
    flex-direction: column;
  }
@media only screen and (max-width: 635px) {
  #banner .primary {
    width: 100%;
    padding: 0;
  }
@media only screen and (max-width: 635px) {
  .banner-text {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 2rem 1rem;
  }
@media only screen and (max-width: 635px) {
  #info .primary {
    display: none;
  }
@media only screen and (max-width: 635px) {
  #info .secondary {
    min-width: 0;
    max-width: 100%;
    border: none;
  }
@media only screen and (max-width: 635px) {
  .secondary {
    width: 100%;
  }
@media only Screen and (max-width: 635px) {
  #info .secondary .container {
    flex-direction: column;
    align-items: flex-start;
  }
@media only screen and (max-width: 635px) {
  .secondary .container img {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
  }
@media only screen and (max-width: 635px) {
  .secondary .container .secondary-copy {
    padding: 1rem 2rem 0 2rem;
    width: 90%;
  }
}
